<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper blog-index">
    {% include 'header' %}

    <div class="sub-menu">
      <div class="sub-menu-container">
        <div class="social">
          <div class="social" id="instagram"></div>
          <div class="social" id="facebook"></div>
          <div class="social" id="twitter"></div>
        <a href="#">
          <div class="sub-menu-link">
            all stories
          </div>
        </a>

        <a href="#">
          <div class="sub-menu-link">
            health & fitness
          </div>
        </a>

        <a href="/faq.html">
          <div class="sub-menu-link">
            water
          </div>
        </a>

        <a href="#">
          <div class="sub-menu-link">
            hydration
          </div>
        </a>
      </div>
    </div>

    <div class="content posts-container">
      <div class="column">
        <div class="post">
          <div class="image">
            <img src="img/penta-celebrates-sm.jpg" />
          </div>
          <div class="title">
            penta celebrates 5 years of solar water
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/thinking.jpg" />
          </div>
          <div class="title">
            thinking about how to be healthy?
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/weekly-recipe.jpg" />
          </div>
          <div class="title">
            weekly recipe #42-vegan
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="post">
          <div class="image">
            <img src="img/autism.jpg" />
          </div>
          <div class="title">
            penta partners with autism alliance
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/alexis-reneg.jpg" />
          </div>
          <div class="title">
            smart fitness routine #23 with alexis reneg
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/hash-12.jpg" />
          </div>
          <div class="title">
            4 tricks on how to get in shape
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="post">
          <div class="image">
            <img src="img/coachella.jpg" />
          </div>
          <div class="title">
            how penta did coachella 16
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/wilted-spinach.jpg" />
          </div>
          <div class="title">
            wilted spinach salad with apples and pecans
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/gmos.jpg" />
          </div>
          <div class="title">
            4 tricks on how to get in shape
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="post">
          <div class="image">
            <img src="img/nic-vaughans.jpg" />
          </div>
          <div class="title">
            big wave surfer nic vaughans training regiment
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/fats.jpg" />
          </div>
          <div class="title">
            health fats & bad fats
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>

        <div class="post">
          <div class="image">
            <img src="img/alkaline.jpg" />
          </div>
          <div class="title">
            alkaline - what you need to know
          </div>
          <div class="date">FRI JUN 10 2016</div>
          <div class="read-more">
            <a href="#">read more</a>
          </div>
        </div>
      </div>
    </div>

    <div class="load-more">
      <a href="#">load more stories</a>
    </div>

    {% include 'stores' %}
    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
