<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <main class="faq">

    {% include 'header' %}

    <section class="row hero">
      <div class="hero-image">
        <hgroup>
          <h1>faq</h1>
        </hgroup>
      </div>
    </section>

    <nav class="sub-nav">
      <ul>
        <li><a href="why.html" class="sub-menu-link">why penta</a></li>
        <li><a href="#" class="sub-menu-link">about</a></li>
        <li><a href="/faq.html" class="sub-menu-link">FAQ</a></li>
        <li><a href="#" class="sub-menu-link">partners</a></li>
      </ul>
    </nav>

    <section class="row faq-content">
      <article>
        <h5>what is penta water?</h5>
        <p>Penta is ultra-purified bottled water. A patented, 13-step purification process makes our water so unique. It takes over 11 hours to meticulously filter every drop from start to finish. The end result is our proprietary, ultra-pure water free from harmful additives, pollution and impurities.</p>
      </article>
      <article>
        <h5>What sets Penta water apart from other bottled water?</h5>
        <p>Our water is simply that, pure, 100% natural water. Penta is arsenic-free, chlorine-free, chromium 6-free, fluoride-free, MTBE-free, pharmaceutical-free and BPA/BPS-free with typical dissolved solids of less than one part per million. Penta is naturally alkaline without chemicals or artificial additives. It is water its very best.</p>
      </article>
      <article>
        <h5>Does Penta add any chemicals or artificial additives during the purification process?</h5>
        <p>No. After we source our water form its natural underground aquifer, our patented 13-step/11-hour filtration process begins to remove impurities, etc. We do not add chemicals to alter the pH of our water nor do we add other additives such as chlorine, which is a widely used chemical to disinfect drinking water. Chlorine can generate carcinogenic byproducts, such as trihalomethanes and haloacetic acids, which may pose health risks.<br/>
        (US EPA Source:<br/> http://wwter.epa.gov/drink/contaminants/basicinformation/disinfectants.cfm)</p>
      </article>
      <article>
        <h5>Is arsenic, chlorine, chromium 6, fluoride, MTBE, pharmaceuticals or pesticides found in Penta water?</h5>
        <p>No. Penta Water is free from arsenic, chlorine, chromium-6, fluoride, MTBE, pharmaceuticals, pesticides and many more trace impurities such as lead. Our patented filtration process effectively detects and filters out trace contaminants that some public water systems and bottled water companies simply cannot or do not because of cost and lack of technology.</p>
      </article>
      <article>
        <h5>Does Penta water have minerals?</h5>
        <p>No. Penta water is ultra-purified with typical dissolved solids of less than one part per million. Our goal is instant hydration and high mineral content water can slow down this process and cause bloating or fullness.</p>
      </article>
      <article>
        <h5>What is Penta's pH level?</h5>
        <p>Penta water has a naturally alkaline pH. The pH level of our water is achieved as rain and snow percolate down high mountain peaks. The water collects underground beneath a protective seal of solid rock and clay and no alkaline altering chemicals or additives are added.</p>
      </article>
      <article>
        <h5>Is Penta's plastic bottle safe?</h5>
        <p>Penta water has a naturally alkaline pH. The pH level of our water is achieved as rain and snow percolate down high mountain peaks. The water collects underground beneath a protective seal of solid rock and clay and no alkaline altering chemicals or additives are added.</p>
      </article>
      <article>
        <h5>Is Penta an environmentally friendly company?</h5>
        <p>Yes. We care about the environment and make every effort to minimize our footprint. Penta's purification and bottling are powered entirely by clean, green soloar energy. We also bottle our water near the source to reduce transportation resources. Penta's bottle and label are made out of 100% recyclable plastic and from the same material so the label does not have to be removed during recycling.</p>
      </article>
      <article>
        <h5>Where is Penta available?</h5>
        <p>Penta is available at natural health food stores such as Whole Foods and Sprouts Farmers Market, independent retailers and select major grocery stores nationwide. Please see our store locator to find a location near you.</p>
        <p>Prefer delivery to your doorstep or office? A full offering of Penta water is also available in our online shop with complimentary free shipping on all orders.</p>
      </article>
    </section>

    {% include 'stores' %}
    {% include 'footer' %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
