<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper why">
    {% include 'header' %}
    <div class="hero-image">
      <img src="img/faq-why-further.jpg" />
    </div>

    <div class="sub-menu">
      <div class="sub-menu-container">
        <a href="#">
          <div class="sub-menu-link">
            why penta
          </div>
        </a>
        
        <a href="#">
          <div class="sub-menu-link">
            about
          </div>
        </a>
        
        <a href="#">
          <div class="sub-menu-link">
            FAQ
          </div>
        </a>
        
        <a href="#">
          <div class="sub-menu-link">
            partners
          </div>
        </a>
      </div>
    </div>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          what is penta water?
        </div>
        <div class="text">
          <p>Penta is ultra-purified bottled water. A patented, 13-step purification process makes our water so unique. It takes over 11 hours to meticulously filter every drop from start to finish. The end result is our proprietary, ultra-pure water free from harmful additives, pollution and impurities.</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          What sets Penta water apart from other bottled water?
        </div>
        <div class="text">
          <p>Our water is simply that, pure, 100% natural water. Penta is arsenic-free, chlorine-free, chromium 6-free, fluoride-free, MTBE-free, pharmaceutical-free and BPA/BPS-free with typical dissolved solids of less than one part per million. Penta is naturally alkaline without chemicals or artificial additives. It is water its very best.</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          Does Penta add any chemicals or artificial additives during the purification process?
        </div>
        <div class="text">
          <p>No. After we source our water form its natural underground aquifer, our patented 13-step/11-hour filtration process begins to remove impurities, etc. We do not add chemicals to alter the pH of our water nor do we add other additives such as chlorine, which is a widely used chemical to disinfect drinking water. Chlorine can generate carcinogenic byproducts, such as trihalomethanes and haloacetic acids, which may pose health risks.</p>

          <p>(US EPA Source: http://wwter.epa.gov/drink/contaminants/basicinformation/disinfectants.cfm)</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          Is arsenic, chlorine, chromium 6, fluoride, MTBE, pharmaceuticals or pesticides found in Penta water?
        </div>
        <div class="text">
          <p>No. Penta Water is free from arsenic, chlorine, chromium-6, fluoride, MTBE, pharmaceuticals, pesticides and many more trace impurities such as lead. Our patented</p>
        </div>
      </div>
    </section>
  
    {% include 'stores' %}  
    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
