<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <main class="furthermore">

    {% include 'header' %}

    <section class="row hero">
      <div class="hero-image">
        <hgroup>
          <h1>furthermore</h1>
        </hgroup>
      </div>
    </section>

    <nav class="sub-nav">
      <ul class="social">
        <li class="instagram-purple"></li>
        <li class="facebook-purple"></li>
        <li class="twitter-purple"></li>
      </ul>
      <ul class="center">
        <li><a href="why.html" class="sub-menu-link">all stories</a></li>
        <li><a href="#" class="sub-menu-link">health & fitness</a></li>
        <li><a href="faq.html" class="sub-menu-link">water</a></li>
        <li><a href="#" class="sub-menu-link">hydration</a></li>
      </ul>
      <div class="search-articles">
        <input type="text" placeholder="search">
      </div>
    </nav>

    <section class="row furthermore-articles">
      <ul class="locations">
        <li class="article">
          <div class="small further-1"></div>
          <h6 class="title">penta celebrates 5 years of solar power</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="furthermore-detail.html">read more</a>
        </li>
        <li class="article">
          <div class="large further-2"></div>
          <h6 class="title">thinking about how to be healthy?</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-3"></div>
          <h6 class="title">weekly recipe #42 - vegan</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="medium further-4"></div>
          <h6 class="title">penta partners with autism alliance</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-5"></div>
          <h6 class="title">smart fitness routine #23 with alexis reneg</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="medium further-6"></div>
          <h6 class="title">4 tricks on how to get in shape</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="large further-7"></div>
          <h6 class="title">how penta did coachella 16</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-8"></div>
          <h6 class="title">wilted spinach salad with apples and pecans</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-9"></div>
          <h6 class="title">what you need to know about gmo’s</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-10"></div>
          <h6 class="title">big wave surfer nic vaughans training regimen</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="small further-11"></div>
          <h6 class="title">health fats & bad fats</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
        <li class="article">
          <div class="large further-12"></div>
          <h6 class="title">alkaline - what you need to know</h6>
          <p class="date">fri jun 10 2016</p>
          <a href="#">read more</a>
        </li>
      </ul>

    </section>
    <section class="row">
      <a class="load-more" id="load-stories">load more stories</a>
    </section>
    {% include 'stores' %}
    {% include 'footer' %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script type="text/javascript" src="js/readmore.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
