<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper index">
    {% include 'header' %}

    <section class="row">
      <div class="content carousel">
        <div class="image">
          <img src="../img/penta-beach.jpg" />
        </div>
        <div class="image">
          <img src="../img/penta-beach.jpg" />
        </div>
        <div class="image">
          <img src="../img/penta-beach.jpg" />
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content ultra-purified">
        <div class="bottle left-bottle">
          <img src="img/lft-bg-bottle.png" />
        </div>

        <div class="bottle right-bottle">
          <img src="img/rt-bg-bottle.png" />
        </div>
        <div class="heading">
          <img src="img/13-step.png" />
          <div class="heading-text">ultra-purified water</div>
        </div>
        <div class="purified-copy">
          Sourced from a natural mountain aquifer deep within Southern California's high desert, Penta utilizes a patented 13-step reverse osmosis purification process to remove more impurities than any other bottled water for perfectly pure hydration and taste.
        </div>
        <div class="purified-ingredients">
          Penta water is <strong><u>arsenic-free</u></strong>, <strong><u>chlorine-free</u></strong>, <strong><u>chromium 6-free</u></strong>, <strong><u>fluoride-free</u></strong>, <strong><u>MTBE-free</u></strong>, <strong><u>pharmaceutical-free</u></strong> and <strong><u>BPA/BPS-free</u></strong> with typical dissolved solids of less than <strong><u>one part per million</u></strong>.
        </div>
        <div class="purified-fine">
          family-owned company | bottled with solar energy
        </div>
      </div>
    </section>
    <section class="row">
      <div class="content clouds">
        <div class="info">
          <div class="image" id="patented-process"></div>
          <div class="clouds-heading">patented process</div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          </div>
        </div>
        <div class="info">
          <div class="image" id="natural-ph"></div>
          <div class="clouds-heading">natural pH</div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          </div>
        </div>
        <div class="info">
          <div class="image" id="no-additives"></div>
          <div class="clouds-heading">no additives</div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="content naturally-balanced">
        <h2>NATURAL pH</h2>
        <div class="heading">
          naturally balanced
        </div>
        <div class="balanced-text">
          The optimal pH range for our bodies is between 7.35 and 7.45. Only when our body's pH level is within this range can we effectively assimilate the vitamins, minerals, and food supplements we need to survive. More and more health conscious consumers are becoming aware of the harmful effects of an acidic diet and are seeking solutions to bring their body fluids within an acceptable range.
        </div>

        <div class="ph-scale">
          <img src="img/ph-scale.jpg" />
        </div>
      </div>
    </section>
    <section class="row">
      <div class="content penta-delivered">
        <div class="purple-box">
          <p class="subscribe">subscribe & save</p>

          <div class="heading">
            penta delivered to your door
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>

          <div class="buttons">
            <a href="#">
              <div class="link-box">
                take a look
              </div>
            </a>

            <a href="#">
              <div class="link-box">
                try it for free
              </div>
            </a>
          </div>

          <div class="without-subscription">
            <a href="#">shop without a subscription</a>
          </div>
        </div>

      </div>
    </section>
    <section class="row">
      <div class="content live-pure">
        how do you <strong>#livepure?</strong>
        <div class="instagram">
          <div class="image">
            <img src="../img/hash-1.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-2.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-3.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-4.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-5.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-6.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-7.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-8.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-9.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-10.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-11.jpg" />
          </div>
          <div class="image">
            <img src="../img/hash-12.jpg" />
          </div>
        </div>
      </div>
    </section>
  
    {% include 'stores' %}  
    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
