<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" type="text/css" href="./js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="./js/slick/slick-theme.css"/>
</head>
<body>
  <main class="home">

    {% include 'header' %}

    <section class="row thing">
      <hgroup>
        <h1>live pure.</h1>
      </hgroup>
      <div class="carousel">
        <div class="image">
          <img src="./img/hero-1.jpg" />
        </div>
        <div class="image">
          <img src="./img/hero-2.jpg" />
        </div>
        <div class="image">

        </div>
      </div>
    </section>
    <section class="row home-purified">
      <article class="content">
        <!--<div class="bottle left-bottle">
          <img src="img/lft-bg-bottle.png" />
        </div>

        <div class="bottle right-bottle">
          <img src="img/rt-bg-bottle.png" />
        </div>-->
        <hgroup>
          <h3>penta is ultra-purified water period.</h3>
          <div></div>
          <h3>ultra-purified water</h3>
        </hgroup>
        <p class="outside-of-the-box">
          Sourced from a natural mountain aquifer deep within Southern California's high desert, Penta utilizes a patented 13-step reverse osmosis purification process to remove more impurities than any other bottled water for perfectly pure hydration and taste.
        </p>
        <div class="gray-box">
          <p>Penta water is <strong><u>arsenic-free</u></strong>, <strong><u>chlorine-free</u></strong>, <strong><u>chromium 6-free</u></strong>, <strong><u>fluoride-free</u></strong>, <strong><u>MTBE-free</u></strong>, <strong><u>pharmaceutical-free</u></strong> and <strong><u>BPA/BPS-free</u></strong> with typical dissolved solids of less than <strong><u>one part per million</u></strong>.</p>
        </div>
        <div class="ultra-purified-fgroup">
          family-owned company  |  <u>bottled with solar energy</u>
        </div>
      </article>
    </section>
    <section class="row clouds">
      <article class="content">
        <ul class="banner">
          <li class="info">
            <div class="banner-icons" id="patented-process"></div>
            <h6>patented process</h6>
            <p class="banner-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </li>
          <li class="info">
            <div class="banner-icons" id="natural-ph"></div>
            <h6>natural pH</h6>
            <p class="banner-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </li>
          <li class="info">
            <div class="banner-icons" id="no-additives"></div>
            <h6>no additives</h6>
            <p class="banner-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            </p>
          </li>
        </ul>
      </article>
    </section>
    <section class="row naturally-balanced">
      <article class="content">
        <h6>NATURAL pH</h6>
        <h3>naturally balanced</h3>
        <p>
          The optimal pH range for our bodies is between 7.35 and 7.45. Only when our body's pH level is within this range can we effectively assimilate the vitamins, minerals, and food supplements we need to survive. More and more health conscious consumers are becoming aware of the harmful effects of an acidic diet and are seeking solutions to bring their body fluids within an acceptable range.
        </p>
        <div class="ph-scale">
          <img src="img/ph-scale.jpg" />
        </div>
      </article>
    </section>
    <section class="row delivered">
      <article class="content">
        <div class="purple-box">
          <p class="subscribe">subscribe & save</p>
          <h3>penta delivered to your door</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
          <div class="buttons">
            <a href="#">take a look</a>
            <a href="#">try it for free</a>
          </div>
          <div class="delivered-fgroup">
            <a href="#">shop without a subscription</a>
          </div>
        </div>
      </article>
    </section>
    <section class="row instagram">
      <article class="content">
        <h4><span>how do you</span> #livepure?</h4>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </article>
    </section>

    {% include "stores" %}
    {% include "footer" %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  <script type="text/javascript" src="./js/readmore.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
