<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper locator">
    {% include 'header' %}
    <div class="hero-image">
      <div class="find-container">
        <div class="find">
          <div class="text">
            find a store near you
          </div>

          <div class="zip-code">
            <input type="text" placeholder="enter your zip code" />
          </div>
        </div>
      </div>
    </div>

    <div class="results">
      12 locations near "90232"
    </div>

    <div class="locations">
      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>

      <div class="location">
        <div class="store-name">ralphs</div>
        <div class="address">
          5660 Sepulveda Blvd.<br>
          Culver City CA<br>
          90230
        </div>
        <div class="distance">1.2 mi away</div>
      </div>
    </div>



  
    {% include 'stores' %}  
    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
