<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <main class="locator">

    {% include 'header' %}

    <section class="row hero">
      <div class="hero-image">
        <hgroup class="shadow">
          <h5>find a store near you</h5>
          <div class="input-wrapper">
            <input type="text" placeholder="enter your zip code" />
            <button class="arrow-blk"></button>
          </div>
        </hgroup>
      </div>
    </section>

    <section>
      <div class="results">
        12 locations near "90232"
        <button class="clear-results close"></button>
      </div>
      <ul class="locations">
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd.<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">whole foods</h6>
          <p class="address">
            1389 Jefferson Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">ralphs</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">whole foods</h6>
          <p class="address">
            1389 Jefferson Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">ralphs</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">whole foods</h6>
          <p class="address">
            1389 Jefferson Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">ralphs</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
        <li class="location">
          <h6 class="store-name">pavilion #43</h6>
          <p class="address">
            5660 Sepulveda Blvd<br>
            Culver City CA<br>
            90230
          </p>
          <a href="#" class="distance">1.2 mi away</a>
        </li>
      </ul>
    </section>

    {% include 'stores' %}
    {% include 'footer' %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script type="text/javascript" src="js/readmore.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
