<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper subscribe-customize">
    {% include 'header' %}

    <div class="checkout-progress">
      <ul>
        <li>1. subscribe & save
          <div class="caret"></div>
        </li>

        <li class="selected">2. my selection
          <div class="caret"></div>
        </li>

        <li>3. finish up
          <div class="caret"></div>
        </li>

      </ul>
    </div>

    <div class="bottles-background">
      <div class="order">
        <span class="purple">3 cases</span> of <span class="purple">16.0oz bottles</span> delivered to my door <span class="purple">every 30 days</span>
      </div>
    </div>


    <div class="subscription-container">
      <div class="bottle-size">
        <img id="small" src="img/product-bg.png" />
      </div>
      <div class="bottle-size">
        <img id="medium" src="img/product-bg.png" />
      </div>
      <div class="bottle-size">
        <img id="medium" src="img/product-bg.png" />
      </div>
      <div class="bottle-size">
        <img id="large" src="img/product-bg.png" />
      </div>

      <div class="product-info">
        <div class="size">
          12 oz
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        </div>

        <div class="bottles">
          <img src="img/11-bottles.png" />
        </div>

        <div class="add-button">
          <a href="#">add</a>
        </div>

        <div class="ship-info">
          ships monthly
        </div>
      </div>

      <div class="product-info">
        <div class="size">
          16.9 oz
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        </div>

        <div class="bottles">
          <img src="img/11-bottles.png" />
        </div>

        <div class="add-button">
          <a href="#">add</a>
        </div>

        <div class="ship-info">
          ships monthly
        </div>
      </div>

      <div class="product-info">
        <div class="size">
          23 oz sports cap
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        </div>

        <div class="bottles">
          <img src="img/11-bottles.png" />
        </div>

        <div class="add-button">
          <a href="#">add</a>
        </div>

        <div class="ship-info">
          ships monthly
        </div>
      </div>

      <div class="product-info">
        <div class="size">
          1 bottle 33.8 oz
        </div>

        <div class="info">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        </div>

        <div class="bottles">
          <img src="img/11-bottles.png" />
        </div>

        <div class="add-button">
          <a href="#">add</a>
        </div>

        <div class="ship-info">
          ships monthly
        </div>
      </div>

      <div class="next-button">
        <a href="#">next</a>
      </div>
    </div>



    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
