<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper subscribe">
    {% include 'header' %}
    <div class="hero-image">
      <div class="subscribe-container">
        <div class="subscribe">
          <div class="text">
            subscribe monthly &amp; save 15%
          </div>

          <div class="info">
            Penta water is arsenic-free, chlorine-free, chromium 6-free, fluoride-free, MTBE-free and pharmaceutical-free with less than 1ppm* total dissolved solids.
          </div>

          <a href="./subscription-customize.html">customize my subscription</a>
        </div>
      </div>
    </div>

    <div class="whitebox-container">
      <div class="whitebox-inner">
        <div class="half sampler">
          <div class="bottles">
            <img src="img/product-bg.png" />
          </div>

          <div class="text">
            <div class="heading">
              get a free sampler pack
            </div>

            <div class="about">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud
            </div>
          </div>
        </div>

        <div class="half">
          <div class="text">
            <div class="heading">
              save everytime
            </div>

            <div class="about">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud
            </div>
          </div>
        </div>
      </div>
    </div>


    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
