<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <main class="content-wrapper why">

    {% include 'header' %}

    <section class="row hero">
      <div class="hero-image">
        <hgroup>
          <h1>why penta</h1>
        </hgroup>
      </div>
    </section>

    <nav class="sub-nav">
      <ul>
        <li><a href="#" class="sub-menu-link">why penta</a></li>
        <li><a href="#" class="sub-menu-link">about</a></li>
        <li><a href="/faq.html" class="sub-menu-link">FAQ</a></li>
        <li><a href="#" class="sub-menu-link">partners</a></li>
      </ul>
    </nav>

    <section class="row first-3-articles">
      <article class="content why-purified">
        <h3>ultra-purified water</h3>
        <p>Penta is ultra-pure bottled water, period. Sourced from a natural mountain aquifer deep within Southern California's high desert, Penta utilizes a patented 13-step reverse osmosis purification process to remove more impurities than any other bottled water for perfectly pure hydration and taste. Family-owned and produced entirely with green solar engery.</p>
        <div class="why-purified-fgroup">Penta water is arsenic-free, chlorine-free, chromium 6-free, fluroide-free, MTBE-free, pharmaceutical-free and BPA/BPS-free with typical dissovled solid of less than one part per million. Naturally alkaline, <br /><span>Penta is simply 100% water so you can live pure.</span></div>
        <hr>
        <h3>family-owned</h3>
        <p>Penta is family-owned and operated exclusively in sunny Southern California. Our family’s beverage packaging and distribution company, United Beverage, originally acquired the patented science behind Penta in 2009. It’s this patented, 13-step purification process that makes our water so unique. It takes over 11 hours to meticulously filter every drop and we proudly oversee the entire process from start to finish. The end result is our proprietary, ultra-pure water free from harmful additives, pollution and impurities.</p>
        <hr>
        <h3>13 step patented process</h3>
        <p>It's the science behind Penta that makes our water ultra-pure. In fact, Penta's filtration is so unique it's patented by the United States Patent and Trademark Office. Every bottle of Penta water undergoes a 13-step/11-hour purification process to remove more impurities than any other bottled water.</p>
      </article>
    </section>

    <section class="row clouds">
      <article class="content">
        <ul class="banner">
          <li class="info">
            <div class="banner-icons" id="micron-filtration"></div>
            <h6>micron filtration</h6>
            <p>pharmaceutical grade to remove volatile organic compounds and other contaminants</p>
          </li>
          <li class="info">
            <div class="banner-icons" id="reverse-osmosis"></div>
            <h6>reverse osmosis</h6>
            <p>high pressure filtration to remove salt, minerals and additional impurities</p>
          </li>
          <li class="info">
            <div class="banner-icons" id="deionization"></div>
            <h6>deionization</h6>
            <p>ion exchange to filter out remaining minerals</p>
          </li>
          <li class="info">
            <div class="banner-icons" id="ultraviolet-light"></div>
            <h6>ultraviolet light</h6>
            <p>to remove 99.99% of microorganisms</p>
          </li>
          <li class="info">
            <div class="banner-icons" id="ozonation"></div>
            <h6>ozonation</h6>
            <p>infused with ozone, a tasteless molecule made from atmospheric oxygen, to naturally sterilize</p>
          </li>
        </ul>
      </article>
    </section>

    <section class="row continued">
      <article class="content">
        <p>The end result is an ultra-purified water that is arsenic-free, chlorine-free, chromium 6-free, fluoride-free, MTBE-free, pharmaceutical-free and BPA/BPS- free with typical dissolved solids of less than one part per million.
        <a href="#">Please see our water quality report for additional information.</a></p>
        <hr>
        <h3>naturally balanced <span>pH</span></h3>
        <p>The optimal pH range for our bodies is between 7.35 and 7.45. Only when our body's pH level is within this range can we effectively assimilate the vitamins, minerals, and food supplements we need to survive. More and more health conscious consumers are becoming aware of the harmful effects of an acidic diet and are seeking solutions to bring their body fluids within an acceptable range.</p>
        <div class="ph-scale">
          <img src="../img/why-scale.png" />
        </div>
      </article>
    </section>

    <section class="row bottled-solar">
      <div class="wrapper">
        <article class="content">
          <h3>bottled with solar energy</h3>
          <p>We proudly source and bottle Penta in sunny Southern California. In fact, we utilize our climate’s sunny disposition to power the entire purification and bottling process here at Penta. That’s right, Penta is 100% powered by sunshine! By harnessing the sun’s natural energy and transforming it into clean, green electricity, we are helping to protect our environment. Solar energy is not only sustainable, it’s the world’s most abundant renewable energy source. In fact, each year our facility harnesses enough solar energy to...</p>
        </article>
      </div>
    </section>

    {% include 'stores' %}
    {% include 'footer' %}
  </main>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="./js/slick/slick.min.js"></script>
  <script type="text/javascript" src="./js/readmore.min.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
