<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Penta</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="js/slick/slick-theme.css"/>
</head>
<body>
  <div class="content-wrapper why">
    {% include 'header' %}
    <div class="hero-image">
      <img src="img/faq-why-further.jpg" />
    </div>

    <div class="sub-menu">
      <div class="sub-menu-container">
        <a href="#">
          <div class="sub-menu-link">
            why penta
          </div>
        </a>

        <a href="#">
          <div class="sub-menu-link">
            about
          </div>
        </a>

        <a href="/faq.html">
          <div class="sub-menu-link">
            FAQ
          </div>
        </a>

        <a href="#">
          <div class="sub-menu-link">
            partners
          </div>
        </a>
      </div>
    </div>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          ultra-purified water
        </div>
        <div class="text">
          <p>Penta is ultra-pure bottled water, period. Sourced from a natural mountain aquifer deep within Southern California's high desert, Penta utilizes a patented 13-step reverse osmosis purification process to remove more impurities than any other bottled water for perfectly pure hydration and taste. Family-owned and produced entirely with green solar engery.</p>

          <p>Penta water is arsenic-free, chlorine-free, chromium 6-free, fluroide-free, MTBE-free, pharmaceutical-free and BPA/BPS-free with typical dissovled solid of less than one part per million. Naturally alkaline, Penta is simply 100% water so you can live pure.</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          family-owned
        </div>
        <div class="text">
          <p>Penta is family-owned and operated exclusively in sunny Southern California. Our family's beverage packaging and distribution company, United Beverage, originally acquired the patented science behind Penta in 2009. It's this patented, 13-step purification process that makes our water so unique. It takes over 11 hours to meticulously filter every drop and we proudly oversee the entire process from start to finish. The end result is our proprietary, ultra-pure water free from harmful additives, pollution and impurities.</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          13 step patented process
        </div>
        <div class="text">
          <p>It's the science behind Penta that makes our water ultra-pure. In fact, Penta's filtration is so unique it's patented by the United States Patent and Trademark Office. Every bottle of Penta water undergoes a 13-step/11-hour purification process to remove more impurities than any other bottled water.</p>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content banner">
        <div class="info">
          <div class="image" id="micron-filtration"></div>
          <div class="clouds-heading">micron filtration</div>
          <div class="text">
            pharmaceutical grade to remove volatile organic compounds and other contaminants
          </div>
        </div>
        <div class="info">
          <div class="image" id="reverse-osmosis"></div>
          <div class="clouds-heading">reverse osmosis</div>
          <div class="text">
            high pressure filtration to remove salt, minerals and additional impurities
          </div>
        </div>
        <div class="info">
          <div class="image" id="deionization"></div>
          <div class="clouds-heading">deionization</div>
          <div class="text">
            ion exchange to filter out remaining minerals
          </div>
        </div>
        <div class="info">
          <div class="image" id="ultraviolet-light"></div>
          <div class="clouds-heading">ultraviolet light</div>
          <div class="text">
            to remove 99.99% of microorganisms
          </div>
        </div>
        <div class="info">
          <div class="image" id="ozonation"></div>
          <div class="clouds-heading">ozonation</div>
          <div class="text">
            infused with ozone, a tasteless molecule made from atmospheric oxygen, to naturally sterilize
          </div>
        </div>
      </div>
    </section>

    <section class="row">
      <div class="content info-container">
        <div class="heading">
          naturally balanced <strong>pH</strong>
        </div>
        <div class="text">
          <p>The optimal pH range for our bodies is between 7.35 and 7.45. Only when our body's pH level is within this range can we effectively assimilate the vitamins, minerals, and food supplements we need to survive. More and more health conscious consumers are becoming aware of the harmful effects of an acidic diet and are seeking solutions to bring their body fluids within an acceptable range.</p>

          <div class="ph-scale">
            <img src="img/ph-scale.jpg" />
          </div>
        </div>
      </div>
    </section>

    <div class="bottom-image">
      <img src="img/bottled-cropped.jpg" />
    </div>

    {% include 'stores' %}
    {% include 'footer' %}
  </div>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="js/slick/slick.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
