// just variable declarations
$purple: #5d0e8b;
$dropin-purple: #651096;
$light-purple: #F4F5F6;
$lavender: #ae87c5;
$bg-gray: #f5f5f5;
$text-gray: #bbbbbb;
$red: #ef2121;

$desk-br: 1200px;
$big-break: 1200px;
$break: 912px;
$tablet-br: 912px;
$tablet: 768px;
$mobile-br: 541px;
$mobile: 420px;

$circularbook: 'CircularBook';
