ul.banner {
  height: 100%;
  text-align: center;
  @media (max-width: $mobile) {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  div.banner-icons {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;

    &#patented-process {
      background-image: url('../img/patented-process-icon.svg');
      width: 56px;
    }

    &#natural-ph {
      background-image: url('../img/natural-ph-icon.svg');
    }

    &#no-additives {
      background-image: url('../img/no-additives-icon.svg');
    }

    &#patented-process-purple {
      background-image: url('../img/purp-patent-process.png');
    }

    &#natural-ph-purple {
      background-image: url('../img/purp-natural-ph.png');
    }

    &#no-additives-purple {
      background-image: url('../img/purp-no-additives.png');
    }
  }

  li.info {
    display: inline-block;
    text-align: center;
    position: relative;
    @media (max-width: $mobile) {
      width: 100%;
      position: static;
      top: 0;
      transform: none;
      margin-bottom: 40px;
    }
    h6 {
      padding-top: 16px;
    }
    p.banner-text {
      width: 80%;
      padding-top: 9px;
      margin: 0 auto;
      color: white;
      font-size: 1.3rem;
      line-height: 1.5em;
      @media (max-width: $tablet) {
        width: 70%;
      }
    }
  }
}


.index {
  .banner {
    .info {
      width: 32.9%;

      .image {
        &#patented-process {
          background-image: url('../img/patent-process-icon.png');
        }

        &#natural-ph {
          background-image: url('../img/natural-ph-icon.png');
        }

        &#no-additives {
          background-image: url('../img/no-additives-icon.png');
        }
      }
    }
  }
}

.why {
  .banner {
    .info {
      width: 19%;

      .image {
        &#micron-filtration {
          background-image: url('../img/micron.png');
        }

        &#reverse-osmosis {
          background-image: url('../img/reverse.png');
        }

        &#deionization {
          background-image: url('../img/deionization.png');
        }

        &#ultraviolet-light {
          background-image: url('../img/ultraviolet.png');
        }

        &#ozonation {
          background-image: url('../img/ozonation.png');
        }
      }
    }
  }
}

.product {
  .banner {
    background-color: #F9FAFB;
    background-image: none;

    .info {
      width: 32.9%;

      @media (max-width: $mobile) {
        width: 100%;
      }

      .heading {
        font-size: 22px;
      }

      .text {
        color: $text-gray;
      }
    }
  }
}
