.distributors {
  background: #F3F3F3;
  .stores-container {
    max-width: 1220px;
    margin: 0 auto;
    text-align: center;
    .store {
      display: inline-block;
      padding: 5px 0;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      // width: 13.7%;
      img {
        width: 75%;
      }
    }
  }
}
