footer {
  background: $purple;
  div.footer-container {
    height:200px;
    max-width: 1290px;
    margin: 0 auto;
    color: white;
    padding-top: 16px;
    padding-bottom: 100px;
    @media (max-width: 950px) {
      height: 910px;
    }
    aside.left {
      width: 20%;
      display: inline-block;
      padding: 0 10px;
      p {
        font-size: 1rem;
        color: white;
        text-align: left;
        a {
          display: inline-block;
        }
      }
      p:first-child {
        font-size: 2.5rem;
        line-height: 1;
        padding-bottom: 8px;
      }
    }
    ul.middle {
      text-align: center;
      display: inline-block;
      width: 32%;
      vertical-align: top;
      margin-left: 20px;
      @media (max-width: $tablet) {
        width: 100%;
        display: block;
        float: none;
        text-align: center;
        padding: 50px 0 70px 0;
      }
      @media (max-width: $mobile) {
        text-align: center;
        padding-bottom: 50px;
      }
      li {
        width: 32.7%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        list-style-type: none;
        @media (max-width: $tablet) {
          text-align: center;
          padding: 0 5%;
        }
        @media (max-width: $mobile) {
          display: inline-block;
          width: 80%;
          text-align: center;
          padding: 20px 0;
        }
        p {
          color: white;
          text-align: left;
          font-size: 1.2rem;
          font-family: "CircularBold";
          color: white;
          @media (max-width: $mobile) {
            font-size: 1.4rem;
          }
        }
        a {
          font-size: 0.9rem;
          text-align: left;
          line-height: 2;
          @media (max-width: $mobile) {
            font-size: 1.0rem;
          }
          div {
            width: 14px;
            height: 14px;
            display: inline-block;
            margin: 4px 8px 4px 0;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-position: center;
            &#instagram {
              background-image: url("../img/instagram-white-outline.svg");
            }
            &#facebook {
              background-image: url("../img/facebook-white-outline.svg");
            }
            &#twitter {
              background-image: url("../img/twitter-white-outline.svg");
            }
          }
        }
      }
    }
    aside.right {
      position: absolute;
      right:0;
      display: inline-block;
      padding-top: 8px;
      div p {
        color: white;
        font-size: 1.6rem;
      }
      form {
        border-bottom: 1px solid white;
        padding-top: 4px;
        color: white;
        font-size: 1.6rem;
        input {
          padding: 10px 0;
          background: $purple;
          border: 0;
          outline: none;
          color: white;
          opacity: .5;
          @media (max-width: 950px) {
            text-align: center;
            padding-bottom: 15px;
          }

          &::-webkit-input-placeholder {
            color: #fff;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
          }
          &::-moz-placeholder {  /* Firefox 19+ */
            color: #fff;
          }
          &:-ms-input-placeholder {
            color: #fff;
          }
        }
        input:last-child {
          float: right;
          opacity: 1;
        }
      }
    }
  }
}
