footer {
  background: $purple;
  div.footer-container {
    height:200px;
    max-width: 1290px;
    margin: 0 auto;
    color: white;
    padding-top: 18px;
    padding-bottom: 100px;
    @media (max-width: 950px) {
      height: 910px;
    }
    aside.left {
      width: 20%;
      display: inline-block;
      padding: 0 10px;
      p {
        font-size: 1rem;
        color: white;
        text-align: left;
        a {
          display: inline-block;
        }
      }
      p:first-child {
        font-size: 2.5rem;
        line-height: 1;
        padding-bottom: 8px;
      }
    }
    ul.middle {
      text-align: center;
      display: inline-block;
      width: 32%;
      vertical-align: top;
      margin-left: 20px;
      @media (max-width: $tablet) {
        width: 100%;
        display: block;
        float: none;
        text-align: center;
        padding: 50px 0 70px 0;
      }
      @media (max-width: $mobile) {
        text-align: center;
        padding-bottom: 50px;
      }
      li {
        width: 32.7%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        list-style-type: none;
        @media (max-width: $tablet) {
          text-align: center;
          padding: 0 5%;
        }
        @media (max-width: $mobile) {
          display: inline-block;
          width: 80%;
          text-align: center;
          padding: 20px 0;
        }
        p {
          color: white;
          text-align: left;
          font-size: 1.2rem;
          font-family: "CircularBold";
          color: white;
          @media (max-width: $mobile) {
            font-size: 1.4rem;
          }
        }
        a {
          font-size: 0.9rem;
          text-align: left;
          line-height: 2;
          @media (max-width: $mobile) {
            font-size: 1.0rem;
          }
          div {
            width: 13px;
            height: 13px;
            background-color: white;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;

          }
        }
      }
    }
    .footer-right {
      position: absolute;
      right:0;
      display: inline-block;

      @media (max-width: 950px) {
        display: none;
      }
    }

    .footer-right, .footer-mobile-signup {
      text-align: right;

      @media (max-width:950px) {
        text-align: center;
      }

      .footer-right-inner {
        display: inline-block;

        .signup {
          border-bottom: 1px solid white;
          opacity: .5;
          margin-top: 10px;

          input {
            width: 100%;
            background: $purple;
            border: 0;
            outline: none;
            color: white;

            @media (max-width: 950px) {
              text-align: center;
              padding-bottom: 15px;
            }

            &::-webkit-input-placeholder {
              color: #fff;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #fff;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
              color: #fff;
            }
            &:-ms-input-placeholder {
              color: #fff;
            }
          }
        }
      }
    }
  }

}
