// import example _global.scss takes generic values
//************************
// imports of precompile sass elements are the first import to global
// always start with reset @ the top-most ruleset
// @import '__variables';
// @import '__mixins';
// @import '__reset';

* {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Circular-Book";
  font-size: 18px;
  background-color: white;
  overflow-x: hidden;
}

.row {
  max-width: 100%;
  margin-bottom: 50px;
}

.content-wrapper {
  padding-top: 72px;
  // max-width: 1020px;
  margin: 0 auto;
}

.sub-menu {
  background: #F8F8F8;
}

.sub-menu-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  .sub-menu-link {
    display: inline-block;
    padding: 20px 0;
    width: 110px;
    border-bottom: 3px solid #f8f8f8;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    color: $gray;

    &:hover {
      border-bottom: 3px solid $purple;
      color: $purple;
    }

  }

  a {
    color: $purple;
    font-family: $circularbook;
    font-weight: bold;
    padding: 0;

    @media (max-width: $mobile) {
      width: 100%;
      display: inline-block;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hide-big { display: none; }
}
