// import example _global.scss takes generic values
//************************
// imports of precompile sass elements are the first import to global
// always start with reset @ the top-most ruleset
// @import '__variables';
// @import '__mixins';
// @import '__reset';

* {
  box-sizing: border-box;
  position: relative;
  outline: 1px solid red;
}

body {
  background-color: white;
}

.row {
  max-width: 100%;
}

.content-wrapper {
  padding-top: 72px;
  max-width: 1020px;
  margin: 0 auto;
}
