.carousel {
  background-color: black;
  .image {
    img {
      width: 100%;
    }
  }
}

section.ultra-purified {
  background-image: url("../img/bg-bottles.png");
  background-size: 100%;
  background-position: top;
  article {
    padding-top: 98px;
    padding-bottom: 54px;
    hgroup{
      text-align: center;
      div {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url("../img/13-step.svg");
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      h3 {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: -0.8px;
        margin-left: 8px;
      }
    }
    p {
      max-width: 710px;
      margin: 0 auto;
      @media (max-width: $mobile) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    div.gray-box {
      background: $bg-gray;
      padding: 30px 50px;
      width: 100%;
      margin-top: 40px;
      p {
        color: $purple;
        max-width: 100%;
      }
    }
    div.ultra-purified-fgroup {
      color: $text-gray;
      text-align: center;
      padding-top: 28px;
      font-size: 1.2rem;
      @media (max-width: $mobile) {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 14px;
      }
    }
  }
  /*.bottle {
    position: absolute;
    width: 31%;
    img {
      width: 100%;
    }
  }

  .left-bottle {
    top: -10px;
    left: -110px;
  }

  .right-bottle {
    top: -20px;
    right: -140px;
  }*/
}
section.clouds {
  background-image: url('../img/clouds.jpg');
  background-size: cover;
  background-position: center;
  article {
    width: 70%;
    max-width: 1000px;
    padding: 78px 0;
    h6, p {
      color: white;
    }
  }
}

section.naturally-balanced {
  article {
    padding-top: 94px;
    padding-bottom: 74px;
    h6 {
      font-family: "AvenirNextCondensedCond";
    }
    h2 {
      padding-top: 4px;
    }
    p {
      max-width: 750px;
      margin: 0 auto;
      padding: 18px 3% 10px 3%;
      line-height: 1.6em;
      font-size: 1.5rem;
      @media (max-width: $mobile) {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    div.ph-scale {
      width: 100%;
        img {
        width: 100%;
      }
    }
  }
}

section.delivered {
  background-image: url('../img/penta-delivered-cropped.jpg');
  background-size: cover;
  background-position: center;
  article {
    padding: 145px 0;
    .purple-box {
      background: $purple;
      width: 100%;
      border: 5px solid white;
      text-align: center;
      margin: 0 auto;
      padding: 50px 0;
      //top: 50%;
      //transform: translateY(-50%);
      h3 {
        color: white;
        padding-top: 10px;
        padding-bottom: 18px;
      }
      p {
        font-size: 1.3rem;
        color: $lavender;
        margin: 0 auto;
        max-width: 600px;
        &.subscribe {
          font-size: 1.5rem;
        }
      }
      a {
        color: white;
        text-decoration: none;
        font-family: $circularbook;
      }
      div.buttons {
        border: 1px solid white;
        width: 318px;
        margin: 24px auto 28px auto;
        a {
          display: inline-block;
          width: 49.6%;
          padding: 10px 0;
          font-size: 1.4rem;
          transition: all 250ms;
          -webkit-transition: all 250ms;
          @media (max-width: $mobile) {
            width: 100%;
          }
        }
        a:first-child {
          background-color: white;
          color: $purple;
          &:hover {
            background-color: $purple;
            color: white;
          }
        }
        a:last-child {
          background-color: $purple;
          color: white;
          &:hover {
            background-color: white;
            color: $purple;
          }
        }
      }
      div.delivered-fgroup {
        font-size: 1.13rem;
        text-decoration: underline;
      }
    }
  }
}

section.instagram {
  @media (max-width: $tablet) {
    padding: 0;
  }
  article {
    width: 95%;
    max-width: 1324px;
    padding-top: 126px;
    padding-bottom: 58px;
    margin: 0 auto;
    @media (max-width: $tablet) {
      padding-left: 5%;
      padding-right: 5%;
    }
    @media (max-width: $mobile) {
      margin: 0 auto;
      padding: 0;
    }
    h4 {
      text-align: center;
      span {
        font-family: "CircularBook";
      }
    }
    ul {
      padding-top: 46px;
      text-align: center;
      @media (max-width: $mobile) {
        overflow: auto;
        white-space: nowrap;
      }
      li {
        display: inline-block;
        width: 15%;
        height: 14vw;
        margin: 4px;
        background-repeat: no-repeat;
        background-size: cover;

        &:nth-child(1) {
          background-image: url("../img/hash-1.jpg");
        }
        &:nth-child(2) {
          background-image: url("../img/hash-2.jpg");
        }
        &:nth-child(3) {
          background-image: url("../img/hash-3.jpg");
        }
        &:nth-child(4) {
          background-image: url("../img/hash-4.jpg");
        }
        &:nth-child(5) {
          background-image: url("../img/hash-5.jpg");
        }
        &:nth-child(6) {
          background-image: url("../img/hash-6.jpg");
        }
        &:nth-child(7) {
          background-image: url("../img/hash-7.jpg");
        }
        &:nth-child(8) {
          background-image: url("../img/hash-8.jpg");
        }
        &:nth-child(9) {
          background-image: url("../img/hash-9.jpg");
        }
        &:nth-child(10) {
          background-image: url("../img/hash-10.jpg");
        }
        &:nth-child(11) {
          background-image: url("../img/hash-11.jpg");
        }
        &:nth-child(12) {
          background-image: url("../img/hash-12.jpg");
        }
        @media (max-width: $tablet) {
          width: 40vw;
          margin: 2%;
          height: 40vw;
        }
        @media (max-width: $mobile) {
          position:relative;
          width: 100%;
          height: 90vw;
          margin: 0 auto;
          background-size: 70%;
          background-position: center;
        }
      }
    }
  }
}
