.carousel {
  background-color: black;
  .image {
    img {
      width: 100%;
    }
  }
}
section.ultra-purified {
  background-image: url("../img/bg-bottles.png");
  background-size: cover;
  hgroup{
    padding-top: 98px;
    text-align: center;
    div {
      display: inline-block;
      width: 100px;
      height: 100px;
      background-image: url("../img/13-step.svg");
      background-repeat: no-repeat;
      vertical-align: middle;
    }
    h3 {
      display: inline-block;
      vertical-align: middle;
      letter-spacing: -0.8px;
      margin-left: 8px;
    }
  }
  p {
    text-align: center;
    max-width: 710px;
    margin: 0 auto;
    line-height: 1.5em;
    @media (max-width: $mobile) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  /*.bottle {
    position: absolute;
    width: 31%;
    img {
      width: 100%;
    }
  }

  .left-bottle {
    top: -10px;
    left: -110px;
  }

  .right-bottle {
    top: -20px;
    right: -140px;
  }*/
  div.purified-ingredients {
    background: $bg-gray;
    padding: 30px 50px;
    width: 100%;
    margin-top: 40px;
    p {
      color: $purple;
      max-width: 100%;
    }
  }

  .purified-fine {
    color: $text-gray;
    text-align: center;
    margin: 28px auto 54px auto;
    font-size: 1.2rem;
    @media (max-width: $mobile) {
      padding-left: 5%;
      padding-right: 5%;
      font-size: 14px;
    }
  }
}
section.clouds {
  //background-image: url('../img/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  div.content {
    width: 70%;
    max-width: 1000px;
  }
  ul {
    padding: 78px 0;
  }
}
.naturally-balanced {

  h2 {
    text-align: center;
    color: #5d0e8b;
    font-family: 'CircularBold';
  }

  .balanced-text {
    font-family: $circularbook;
    color: gray;
    max-width: 820px;
    margin: 0 auto;
    padding-bottom: 30px;
    line-height: 1.5em;
    text-align: center;

    @media (max-width: $mobile) {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  .ph-scale {
    max-width: 900px;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }
}

.penta-delivered {
  background-image: url('../img/penta-delivered-cropped.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 548px;

  .purple-box {
    background: $purple;
    max-width: 910px;
    margin: 0 auto;
    border: 5px solid white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 50px 0;

    .heading {
      color: white;
    }

    a {
      color: white;
      text-decoration: none;
      font-family: $circularbook;
    }

    p {
      font-family: 'CircularBold';
      color: white;
      opacity: .5;
      margin: 0 auto;
      font-size: 12px;
      max-width: 600px;
      margin-bottom: 10px;
    }

    .buttons {
      border: 3px solid white;
      width: 50%;
      margin: 30px auto 50px;

      a {
        display: inline-block;
        width: 49.4%;
        transition: all 250ms;
        -webkit-transition: all 250ms;

        @media (max-width: $mobile) {
          width: 100%;
        }

        .link-box {
          padding: 10px 0;
        }

        &:hover {
          background: white;
          color: $purple;
        }
      }
    }
  }
}

.live-pure {
  color: $purple;
  text-align: center;
  font-family: $circularbook;
  font-size: 20px;

  .instagram {
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 40px;
    .image {
      display: inline-block;
      width: 16.1%;

      @media (max-width: $mobile) {
        width: 25%;
      }
      img {
        width: 100%;
      }
    }
  }
}
