// _page.scss is in refrence to a specific page
//************************
// .class {
//   // <div class="class">
//   rule:value;
//   .sub-class {
//     rule:value;
//     // <div class="class">
//     //   <div class="sub-class"> . . .
//     &.additional-class {
//       rule:value;
//       // <div class="sub-class additional-class"> . . .
//     }
//     &:psuedo-selector {
//       rule:value;
//       // hover, nth-child(1), etc...
//     }
//   }
// }

.carousel {
  .image {
    img {
      width: 100%;
    }
  }
}

.heading {
  font-size: 40px;
  color: #5d0e8b;
  text-align: center;
  padding-bottom: 30px;
}

.ultra-purified {

  padding-top: 60px;
  position: relative;

  .bottle {
    position: absolute;
    width: 31%;
    img {
      width: 100%;
    }
  }

  .left-bottle {
    top: 90px;
    left: -110px%;
  }

  .right-bottle {
    top: -20px;
    right: -140px;
  }

  .purified-copy {
    text-align: center;
    color: gray;
    padding-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
  }

  .purified-ingredients {
    background: #F7F8F9;
    color: #5d0e8b;
    padding: 30px 40px;
    max-width: 800px;
    margin: 0 auto;
  }

  .purified-fine {
    text-align: center;
    color: gray;
    margin-top: 30px;
  }
}

.clouds {
  background-image: url('../img/clouds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 270px;

  .info {
    display: inline-block;
    width: 33%;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .clouds-heading {
      font-size: 18px;
    }

    .text {
      width: 200px;
      margin: 0 auto;
    }
  }
}
