main.locator {
  section.hero {
    div.hero-image {
      width: 100%;
      height: auto;
      background-image: url("../img/locator.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 8.3vw;
      padding-bottom: 9.6vw;
      @media (max-width: $desk-br) {
        height: 368px;
        padding-top: 100px;
      }
      hgroup {
        width: 44.5rem;
        height: 153px;
        background: white;
        display: block;
        margin: auto;
        @media (max-width: $mobile) {
          width: 90%;
        }
        h5 {
          padding: 43px 0 19px 0;
        }
        div.input-wrapper {
          width: 60%;
          margin: auto;
          text-align: center;
          border-bottom: 1px solid $text-gray;
          input {
            width: 66%;
            outline: none;
            border: 0;
            font-size: 1.4rem;
            text-align: center;
            padding-bottom: 10px;
            opacity: 0.5;
            &::-webkit-input-placeholder {
              color: $purple;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $purple;
            }
            &::-moz-placeholder {  /* Firefox 19+ */
              color: $purple;
            }
            &:-ms-input-placeholder {
              color: $purple;
            }
          }
        }
      }
    }
  }
  div.results {
    margin: 40px auto;
    text-align: center;
    background: $bg-gray;
    width: 266px;
    padding: 20px 0;
    font-size: 14px;
    color: $text-gray;
    button.clear-results {
      position: absolute;
      right: 20px;
    }
  }
  ul.locations {
    max-width: 800px;
    width: 80rem;
    margin: 0 auto;
    padding: 14px 0 66px 0;
    text-align: center;
    @media (max-width: $break) {
      width: 80%;
    }
    @media (max-width: $mobile-br) {
      width: 85%;
    }
    @media (max-width: $mobile) {
      width: 90%;
    }
    li.location {
      display: inline-block;
      width: 24.5%;
      margin-bottom: 7rem;
      line-height: 1em;
      @media (max-width: $tablet) {
        width: 30%;
      }
      @media (max-width: $mobile-br) {
        width: 45%;
      }
      @media (max-width: $mobile) {
        width: 100%;
      }
      h6 {
        padding-bottom: 10px;
      }
      p {
        font-size: 1.4rem;
        margin-bottom: 26px;
      }
      a {
        color: $purple;
        font-size: 1.4rem;
        text-decoration: underline;
      }
    }
  }
}
