main.product {
  section.order {
    width: 75%;
    max-width: 1015px;
    margin: 0 auto;
    text-align: center;
    margin-top: 5vw;
    //margin-bottom: 3.9vw;
    background-image: url("../img/product-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 16.7%;
    //height: 37vw;
    height: 40.8vw;
    @media (max-width: $mobile) {
      padding-bottom: 0;
    }
    /*zdiv.column {
      width: 32.4%;
      display: inline-block;
      font-family: $circularbook;
      vertical-align: top;
      text-align: left;
      @media (max-width: $mobile) {
        width: 100%;
        padding-bottom: 60px;
        padding-left: 5%;
        padding-right: 5%;
      }
    }*/
    aside.info {
      float:left;
      width: 30%;
      div.watermark {
        margin-top: 2.2vw;
        margin-bottom: 0.3vw;
        width: 86px;
        height: 86px;
        @media (max-width: $mobile) {
          text-align: center;
          padding-bottom: 30px;
        }
      }
      a {
        font-size: 1.3rem;
        color: $text-gray;
        text-decoration: underline;
      }
      a[data-readmore-toggle] {
        color: $purple;
        font-size: 1.3rem;
        padding: 14px 0;
        text-decoration: none;
      }
      div.product-info {
        float: left;
        text-align: left;
        width: 280px;
        @media (max-width: $mobile) {
          margin: 0 auto;
          text-align: center;
        }
        h4 {
          text-align: left;
          padding: 10px 0 20px 0;;
        }
        p.about-text {
          font-size: 1.5rem;
          text-align: left;
          line-height: 1.6;
        }
        div.reviews {
          padding: 8px 0;
          div.star-ratings {
            display: inline-block;
            color: $purple;
            font-size:16px;
            height: 16px;
            width: 86px;
          }
          div.review-count {
            display: inline-block;
            color: $text-gray;
            font-size: 1.4rem;
          }
          a {
            color: $purple;
            padding-top: 8px;
          }
        }
      }
    }

    aside.buy {
      float:right;
      width:33.8rem;
      height: 44.1rem;
      margin: 3.6vw auto;
      text-align: left;
      border: 2px solid $text-gray;
      form {
        padding: 3rem 3.5rem;
        h5 {
          text-align: left;
          padding-bottom: 0.8rem;
        }
        div.dropdown-wrapper {
          background-color: $bg-gray;
          width: 100%;
          height: 4.2rem;
          margin: 1.2rem 0;
          select:focus {
            outline: none;
            box-shadow: none !important;
          }
          select {
            display: block;
            border: 0;
            //background: $bg-gray;
            height: 4.2rem;
            width: 70%;
            color: $purple;
            font-weight: bold;
            float: right;
            &.top {
              width: 63%;
            }
            option span {
              color: $text-gray;
              font-weight: normal;
            }
          }
        }
        div.radio-wrapper {
          //padding-top: 0.4rem;
          p {
            font-family: "CircularBold";
            color: $purple;
            font-size: 1.4rem;
            padding: 0.4rem 0;
            text-align: left;
          }
          ul {
            li {
              padding: 0.5rem 0;
              color: $text-gray;
              font-size: 1.4rem;
              span {
                color: $red;
                font-style: italic;
                font-size: 1rem;
              }
              input[type=radio]{
                position:absolute;
                visibility: hidden;
                z-index: 15;
              }
              input[type=radio]:checked ~ .check::before{
                background: $purple;
              }
              input[type=radio]:checked ~ label{
                color: $purple;
              }
              label{
                display: inline-block;
                font-size: 1.2rem;
                vertical-align: top;
                cursor: pointer;
                transition: all 0.25s ease-in;
              }
              div.check{
                display: inline-block;
                //position: absolute;
                border: 1px solid $text-gray;
                border-radius: 100%;
                height: 10px;
                width: 10px;
                top: 0px;
                left: 0px;
                z-index: 10;
                transition: border .25s linear;
              }
              div.check::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 6px;
                width: 6px;
                top: 1px;
                left: 1px;
                transition: background 0.25s ease-in;
              }
            }
          }
        }
        div.button-wrapper {
          margin-top: 20px;
          label {
            width: 100%;
            color: $purple;
            font-size: 2.4rem;
            display: block;
            span {
              color: $text-gray;
              font-size: 1.2rem;
              display: inline-block;
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
          button {
            width: 100%;
            border: 0;
            background: $purple;
            color: white;
            font-weight: bold;
            font-size: 1.4rem;
            padding: 1.2rem 0;
            margin-top: 2.2rem;
          }
        }
      }
      a {
        div.buy-fgroup {
          background: $light-purple;
          color: $purple;
          text-align: center;
          font-size: 1.3rem;
          padding: 1.4rem 0;
          transition: all 250ms;
          -webkit-transition: all 250ms;
        }
        &:hover {
          .buy-fgroup {
            color: white;
            background: $purple;
          }
        }
      }
    }
  }

  section.gray-banner {
    background-color: $bg-gray;
    article {
      padding: 4vw 0;
      width: 74%;
      max-width: 1065px;
      li {
        width: 32%;
        p {
         color: $text-gray;
        }
      }
    }
  }

  section.hydration-calculator {
    background-image: url('../img/penta-beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 9.6vw 0;

    div.calculator-wrapper {
      //top: 50%;
      //transform: translateY(-50%);
      padding: 43px 0px 53px 0;
      max-width: 442px;
      margin: 0 auto;
      background-color: white;
      @media (max-width: $mobile) {
        padding: 50px 5%;
        max-width: 95%;
      }
      hgroup {
        max-width: 300px;
        margin: 0 auto;
        p {
          margin: 10px auto 5px auto;
          font-size: 14px;
        }
        input[type="text"] {
          border: 0;
          font-size: 1.4rem;
          border-bottom: 1px solid $text-gray;
          outline: none;
          width: 100%;
          text-align: center;
          padding: 8px;
          &::-webkit-input-placeholder {
            color: $purple;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $purple;
          }
          &::-moz-placeholder {  /* Firefox 19+ */
            color: $purple;
          }
          &:-ms-input-placeholder {
            color: $purple;
          }
        }
      }
    }
  }
}
