main.why, main.faq {

  section.hero {
    div.hero-image {
      width: 100%;
      height: auto;
      background-image: url("../img/faq-why-further.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      hgroup {
        width: 100%;
        padding-top: 9.3vw;
        padding-bottom: 10.8vw;
        h1 {
          font-size: 12rem;
          letter-spacing: -6px;
          @media (max-width:$tablet) {
            font-size: 10rem;
            letter-spacing: -5px;
          }
          @media (max-width:$mobile-br) {
            font-size: 9rem;
            letter-spacing: -4px;
          }
          @media (max-width:$mobile) {
            font-size: 8rem;
            letter-spacing: -3px;
          }
        }
      }
    }
  }

  section.first-3-articles {
    padding-top: 19px;
    article {
      padding-top: 62px;
      padding-bottom: 30px;
      hr {
        width: 74%;
        margin: 40px auto 65px auto;
      }
      p {
        width: 80%;
        max-width: 710px;
        font-size: 1.5rem;
        margin: auto;
        line-height: 1.8;
        padding: 30px 0;
        @media (max-width: $break) {
          width: 100%;
        }
      }
      p:nth-child(2) {
        width: 82%;
        max-width: 750px;
        font-size: 1.8rem;
        margin: auto;
        line-height: 1.8;
        @media (max-width: $break) {
          width: 100%;
        }
      }
      div.why-purified-fgroup {
        width: 78%;
        max-width: 720px;
        margin: auto;
        color: $text-gray;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2;
        padding-bottom: 36px;
        span {
          color: $purple;
        }
      }
    }
  }

  section.continued article {
    padding-top: 46px;
    padding-bottom: 109px;
    hr {
      margin: 54px auto 80px auto;
    }
    p {
      font-size: 1.5rem;
      margin: auto;
      line-height: 1.8;
      padding-bottom: 30px;
      @media (max-width: $break) {
        width: 100%;
      }
    }
    h3 span {
      font-family: "AvenirNextCondensedCond";
    }
    p:nth-child(4) {
      width: 80%;
      max-width: 710px;
      padding-top: 18px;
      line-height: 1.6;
      @media (max-width: $break) {
        width: 100%;
      }
    }
    p:first-child {
      width: 90%;
      max-width: 760px;
      padding-top: 0;
      @media (max-width: $break) {
        width: 100%;
      }
      a {
        color: $text-gray;
        text-decoration: underline;
      }
    }
    div.ph-scale {
      width: 74%;
      padding-top: 22px;
      margin: auto;
        img {
        width: 100%;
        //height: 190px;
      }
    }
  }

  section.clouds {
    article {
      padding: 96px 0 90px 0;
      li{
        width: 17.5%;
        @media (max-width: $mobile-br) {
          width: 70%;
          padding-bottom: 40px;
        }
        h6 {
          padding-top: 10px;
        }
        p {
          width: 70%;
          padding-top: 14px;
          font-size: 1.1rem;
          line-height: 1.5em;
        }
      }
    }
  }

  section.bottled-solar {
    padding-bottom: 5.6vw;
    height: auto;
    div.wrapper {
      background-image: url("../img/bottled-cropped.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      article {
        padding: 12.4vw 0 9.4vw 0;
        height: 100%;
        h3 {
          color: white;
        }
        p {
          padding-top: 16px;
          line-height: 1.8;
          width: 74%;
          max-width: 680px;
          font-size: 1.3rem;
          margin: auto;
          color: white;
          @media (max-width: $break) {
            width: 100%;
          }
        }
      }
    }
  }
}
