main.why, main.faq, main.furthermore {
  section.faq-content p, section.first-3-articles p:nth-child(2) {
    width: 82%;
    max-width: 750px;
    font-size: 1.8rem;
    margin: auto;
    line-height: 1.75;
    @media (max-width: $break) {
      width: 100%;
    }
    @media (max-width: $mobile) {
      font-size: 1.4rem;
      line-height: 1.6;
    }
  }
  a.load-more {
    display: block;
    text-align: center;
    margin: auto;
    color: $text-gray;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 125px;
  }
  section.furthermore-articles {
    ul {
      width: 70.5%;
      margin: auto;
      padding: 50px 0 141px 0;
      column-count: 4;
      column-gap: 18px;
      @media (max-width: $tablet) {
        column-count: 3;
        column-gap: 30px;
        padding: 50px 0 100px 0;
      }
      @media (max-width: $mobile-br) {
        column-count: 2;
        column-gap: 40px;
        padding: 50px 0;
      }
      li {
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        div {
          width: 100%;
          margin-bottom: 10px;
          background-position: center;
          background-size: cover;
          &.small {
            height: 16.8vw;
            @media (max-width: $tablet) {
              height: 20.8vw;
            }
            @media (max-width: $mobile-br) {
              height: 30vw;
            }
          }
          &.medium {
            height: 18.7vw;
            @media (max-width: $tablet) {
              height: 23.7vw;
            }
            @media (max-width: $mobile-br) {
              height: 35vw;
            }
          }
          &.large {
            height: 21.4vw;
            @media (max-width: $tablet) {
              height: 27.4vw;
            }
            @media (max-width: $mobile-br) {
              height: 40vw;
            }
          }
        }
        h6 {
          font-size: 1.5rem;
          line-height: 1.2;
          letter-spacing: -0.55px;
          text-align: left;
        }
        p {
          font-size: 10px;
          text-transform: uppercase;
          text-align: left;
          padding: 8px 0 6px 0;
        }
        a {
          font-size: 1.2rem;
          color: $purple;
          text-decoration: underline;
          padding-bottom: 20px;
        }
      }
    }
  }
  section.faq-content {
    padding: 30px 0;
    article {
      width: 48%;
      padding: 30px 0;
      margin: auto;
      @media (max-width: $break) {
        width: 55%;
      }
      @media (max-width: $tablet) {
        width: 60%;
      }
      @media (max-width: $mobile) {
        width: 70%;
        padding: 20px 0;
      }
      h5 {
        font-size: 3rem;
        line-height: 1.35;
        @media (max-width: $mobile) {
            font-size: 1.8rem;
        }
      }
      p {
        width: 100%;
        padding: 20px 0;
        span {
          @media (max-width: $desk-br) {
            font-size: 1.6rem;
          }
          @media (max-width: $break) {
            font-size: 1.4rem;
          }
          @media (max-width: $tablet) {
            font-size: 1.2rem;
          }
          @media (max-width: $mobile) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  section.hero {
    div.hero-image {
      width: 100%;
      height: auto;
      background-image: url("../img/faq-why-further.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      hgroup {
        width: 100%;
        padding-top: 9.3vw;
        padding-bottom: 10.8vw;
        h1 {
          font-size: 12rem;
          letter-spacing: -6px;
          @media (max-width:$tablet) {
            font-size: 10rem;
            letter-spacing: -5px;
          }
          @media (max-width:$mobile-br) {
            font-size: 9rem;
            letter-spacing: -4px;
          }
          @media (max-width:$mobile) {
            font-size: 6rem;
            letter-spacing: -3px;
          }
        }
      }
    }
  }

  section.first-3-articles {
    padding-top: 19px;
    article {
      padding-top: 62px;
      padding-bottom: 30px;
      @media (max-width: $mobile) {
        padding: 50px 0;
        width: 80%;
      }
      hr {
        width: 74%;
        margin: 40px auto 65px auto;
        @media (max-width: $mobile) {
          width: 90%;
          margin: 50px auto;
        }
      }
      p {
        width: 80%;
        max-width: 710px;
        font-size: 1.5rem;
        margin: auto;
        line-height: 1.8;
        padding: 30px 0;
        @media (max-width: $break) {
          width: 90%;
        }
        @media (max-width: $mobile) {
          font-size: 1.4rem;
          line-height: 1.6;
        }
      }
      p:nth-child(2) {
        width: 82%;
        max-width: 750px;
        font-size: 1.8rem;
        margin: auto;
        line-height: 1.8;
        @media (max-width: $break) {
          width: 100%;
        }
        @media (max-width: $mobile) {
          font-size: 1.4rem;
          line-height: 1.6;
        }
      }
      div.why-purified-fgroup {
        width: 78%;
        max-width: 720px;
        margin: auto;
        color: $text-gray;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2;
        padding-bottom: 36px;
        @media (max-width: $mobile) {
          width: 90%;
          font-size: 1rem;
          line-height: 1.5;
          padding-bottom: 30px;
        }
        span {
          color: $purple;
        }
      }
    }
  }

  section.continued article {
    padding-top: 46px;
    padding-bottom: 109px;
    @media (max-width: $mobile) {
      padding: 50px 0;
      width: 80%;
    }
    hr {
      margin: 54px auto 80px auto;
      @media (max-width: $mobile) {
        width: 90%;
        margin: 50px auto;
      }
    }
    p {
      font-size: 1.5rem;
      margin: auto;
      line-height: 1.8;
      padding-bottom: 30px;
      @media (max-width: $break) {
        width: 100%;
      }
      @media (max-width: $mobile) {
        font-size: 1.4rem;
        line-height: 1.6;
      }
    }
    h3 span {
      font-family: "AvenirNextCondensedCond";
    }
    p:nth-child(4) {
      width: 80%;
      max-width: 710px;
      padding-top: 18px;
      line-height: 1.6;
      @media (max-width: $break) {
        width: 100%;
      }
    }
    p:first-child {
      width: 90%;
      max-width: 760px;
      padding-top: 0;
      @media (max-width: $break) {
        width: 100%;
      }
      a {
        color: $text-gray;
        text-decoration: underline;
      }
    }
    div.ph-scale {
      width: 74%;
      padding-top: 22px;
      margin: auto;
        img {
        width: 100%;
        //height: 190px;
      }
    }
  }

  section.clouds {
    article {
      padding: 96px 0 90px 0;
      li{
        width: 17.5%;
        @media (max-width: $mobile-br) {
          width: 70%;
          padding-bottom: 40px;
        }
        h6 {
          padding-top: 10px;
        }
        p {
          width: 70%;
          padding-top: 14px;
          font-size: 1.1rem;
          line-height: 1.5em;
        }
      }
    }
  }

  section.bottled-solar {
    padding-bottom: 5.6vw;
    height: auto;
    div.wrapper {
      background-image: url("../img/bottled-cropped.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      article {
        padding: 12.4vw 0 9.4vw 0;
        height: 100%;
        @media (max-width: $mobile) {
          padding: 100px 0;
          width: 80%;
        }
        h3 {
          color: white;
        }
        p {
          padding-top: 16px;
          line-height: 1.8;
          width: 74%;
          max-width: 680px;
          font-size: 1.3rem;
          margin: auto;
          color: white;
          @media (max-width: $break) {
            width: 100%;
          }
          @media (max-width: $mobile) {
            line-height: 1.6;
            width: 100%;
          }
        }
      }
    }
  }
}
