<footer>
  <div class="footer-container">
    <div class="footer-mobile-signup">
      <div class="footer-right-inner">
        signup & save 15% off first order
        <div class="signup">
          <input type="text" placeholder="enter email address" >
        </div>
      </div>
    </div>
    <div class="footer-left">
      <ul>
        <li class="footer-outer desktop">
          <ul class="footer-inner">
            <li class="footer-logo">penta</li>
            <li>&copy; 2016 Penta Water. All Rights Reserved</li>
            <li>
              <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">View Mobile Site</a>
            </li>
          </ul>
        </li>

        <li class="footer-outer">
          <ul class="footer-inner">
            <li class="footer-heading">about</li>
            <li>why penta?</li>
            <li>FAQ</li>
            <li>water quality report</li>
            <li>find a store</li>
            <li>contact</li>
          </ul>
        </li>

        <li class="footer-outer">
          <ul class="footer-inner">
            <li class="footer-heading">shipping</li>
            <li>shipping &amp; returns</li>
            <li>subscription</li>
            <li>privacy policy</li>
          </ul>
        </li>

        <li class="footer-outer">
          <ul class="footer-inner">
            <li class="footer-heading">#livepure</li>
            <li>
              <div class="social-image" id="instagram"></div>
              <div class="social-name">instagram</div>
            </li>
            <li>
              <div class="social-image" id="facebook"></div>
              <div class="social-name">facebook</div>
            </li>
            <li>
              <div class="social-image" id="twitter"></div>
              <div class="social-name">twitter</div>
            </li>
          </ul>
        </li>

        <li class="footer-outer mobile">
          <ul class="footer-inner">
            <li class="footer-logo">penta</li>
            <li>&copy; 2016 Penta Water. All Rights Reserved</li>
            <li>
              <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="footer-right">
      <div class="footer-right-inner">
        signup & save 15% off first order
        <div class="signup">
          <input type="text" placeholder="enter email address" >
        </div>
      </div>
    </div>
  </div>
</footer>
