<footer>
  <div class="footer-container">
    <aside class="copyright copyright-hide">
      <p>penta</p>
      <p>&copy; 2016 Penta Water. All Rights Reserved</p>
      <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use </a><a href="#"> | <span>View Mobile Site</span></a></p>
    </aside>
    <aside class="signup signup-mobile">
      <form>
        signup & save 15% off first order</br>
        <input type="text" name="email" placeholder="enter email address">
        <input type="submit" value="&rarr;">
      </form>
    </aside>
    <ul class="middle">
      <li>
        <p>about</p>
        <a href="#">why penta?</a>
        <a href="#">FAQ</a>
        <a href="#">water quality report</a>
        <a href="#">find a store</a>
        <a href="#">contact</a>
      </li>
      <li>
        <p>shipping</p>
        <a href="#">shipping &amp; returns</a>
        <a href="#">subscription</a>
        <a href="#">privacy policy</a>
      </li>
      <li>
        <p>#livepure</p>
        <a href="#"><div class="instagram"></div>instagram</a>
        <a href="#"><div class="facebook"></div>facebook</a>
        <a href="#"><div class="twitter"></div>twitter</a>
      </li>
    </ul>
    <aside class="signup signup-hide">
      <form>
        signup & save 15% off first order</br>
        <input type="text" name="email" placeholder="enter email address">
        <input type="submit" value="&rarr;">
      </form>
    </aside>
    <aside class="copyright-mobile copyright">
      <p>penta</p>
      <p>&copy; 2016 Penta Water. All Rights Reserved</p>
      <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use </a><a href="#"> | <span>View Mobile Site</span></a></p>
    </aside>
  </div>
</footer>
