<header>
  <nav class="main-nav">
    <div class="nav-logo"></div>
    <ul class="center-links">
      <li class="navlink"><a href="./product.html">buy now</a></li>
      <li class="navlink"><a href="./why.html">why penta</a></li>
      <li class="navlink"><a href="./furthermore.html">further more</a></li>
      <li class="navlink"><a href="./locator.html">store locator</a></li>
    </ul>
    <ul class="right-links">
      <li class="hamburger">
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </li>
      <li class="navlink free-shipping"><u>free shipping</u> when you spend over $100</li>
      <li class="navlink cart"></li>
    </ul>
  </nav>

  <div class='dropin hide-big'>
    <ul class="top">
      <li><a href="./index.html">home</a></li>
      <li><a href="./product.html">buy now</a></li>
      <li><a href="./why.html">why penta</a></li>
      <li><a href="./furthermore.html">further more</a></li>
      <li><a href="./locator.html">store locator</a></li>
      <li><a href="./product.html">penta subscription<span>save 15%</span></a></li>
    </ul>
    <ul class="bottom">
      <li><a href="#">login</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">shipping / returns</a></li>
      <li>
        <a href="#">#livepure</a>
        <a href="#"><div class="twitter"></div></a>
        <a href="#"><div class="facebook"></div></a>
        <a href="#"><div class="instagram"></div></a>
      </li>
    </ul>
  </div>
</header>
