<header>
  <nav>
    <div class="nav-logo"></div>
    <ul class="center-links">
      <li class="navlink"><a href="./product.html">buy now</a></li>
      <li class="navlink"><a href="./why.html">why penta</a></li>
      <li class="navlink"><a href="./further.html">further more</a></li>
      <li class="navlink"><a href="./locator.html">store locator</a></li>
    </ul>
    <ul class="right-links">
      <li class="navlink free-shipping"><u>free shipping</u> when you spend over $100</li>
      <li class="navlink cart"></li>
      <li class="hamburger">
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </li>
    </ul>
  </nav>

  <div class='dropin hide-big'>
    <ul>
      <li><a href="./product.html" class="navlink dropin-link active">buy now</a></li>
      <li><a href="./why.html" class="navlink dropin-link">why penta</a></li>
      <li><a href="./further.html" class="navlink dropin-link">further more</a></li>
      <li><a href="./locator.html" class="navlink dropin-link">store locator</a></li>
    </ul>
  </div>
</header>
