<section class="row stores">
  <div>proudly sold in</div>
<article class="content">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</article>
</section>
