<section class="row stores">
  <p>proudly sold in</p>
<article class="content">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</article>
</section>
