<div class="proudly-sold-in">
  proudly sold in
</div>

<div class="content distributors">
  <div class="stores-container">
    <div class="store">
      <img src="img/stores/whole-foods.png" />
    </div>
    <div class="store">
      <img src="img/stores/bristol-farms.png" />
    </div>
    <div class="store">
      <img src="img/stores/sprouts.png" />
    </div>
    <div class="store">
      <img src="img/stores/pavilions.png" />
    </div>
    <div class="store">
      <img src="img/stores/vons.png" />
    </div>
    <div class="store">
      <img src="img/stores/earth-bar.png" />
    </div>
    <div class="store">
      <img src="img/stores/vitamin-shoppe.png" />
    </div>
  </div>
</div>